* {
  box-sizing: border-box;
}

body {
  font-family: "Anton", sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

.title-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(#0B0D3A, #4704FA, #D92E8F, #FF8A00);
    text-align: center;
}

.button-design {
    background-color: #ffffff;
    font-size: 45px;
    text-transform: uppercase;
    font-family: 'Slackey';
    padding: 20px 60px;
    border-radius: 8px;   /* soft corners, not sharp */
    box-shadow: 2px 6px 8px rgba(0,0,0,0.3);
}

.button-design:hover {
    background-color: #ffd633;
}

.cat-tile {
  background: #2650db;
  border: 1px solid #999;
  float: left;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  line-height: 34px;
  height: 48px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  width: 96px;
}

.money-tile {
  background: #2650db;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  color: #fab700;
  line-height: 34px;
  height: 48px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 96px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.question-screen {
  background-color: #0033a0;
  color: #ffffff;
  min-height: 100vh;
  padding: 20px;
}

.question-screen h3 {
  font-size: 26px;
  font-weight: bold;
}

.question-screen input {
  font-size: 20px;
  padding: 10px;
  margin-top: 20px;
  width: 300px;
  text-align: center;
  border: none;
  border-radius: 5px;
}

.question-screen button {
  margin-top: 20px;
  font-size: 20px;
  padding: 10px 20px;
  background-color: #fab700; /* yellow Jeopardy button */
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.question-screen button:hover {
  background-color: #ffd633; /* slightly brighter on hover */
}